<!DOCTYPE html>
<html lang="en">

<style>
    body {text-align:center}
</style>

<head>
    <meta charset="UTF-8">
</head>

<body>
    <img src="{{url_for('static', filename='logo_1.jpg')}}" align="middle" />
    <h1>KARDFINDER</h1>
    <h2>json file generator for banks</h2>
     <form method="POST" action="/dropdown">
        <select name="colour11">
					<option value="J6">J6</option>
									<option value="JH6">JH6</option>
									<option value="J7 1代">J7 1代</option>
        </select>
      <input type="submit" value ="Submit">
      </form>
</body>
</html>